<main role="main" class="px-2">
  <p class="text-xs alert alert-info lg:text-base" phx-click="lv:clear-flash" phx-value-key="info"><%= live_flash(@flash, :info) %></p>
  <p class="text-xs alert alert-danger lg:text-base" phx-click="lv:clear-flash" phx-value-key="error"><%= live_flash(@flash, :error) %></p>
  <%= @inner_content %>
</main>
