<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tag() %>
  <%= live_title_tag assigns[:page_title] || "Jerry Situ", suffix: "" %>
  <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
  <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</head>

<body class="flex flex-col h-full mx-auto overflow-y-scroll max-w-7xl bg-darkGreen text-blueGray-800">
  <header class="relative z-50 flex items-center w-full h-16 text-blueGray-100">
    <a href="<%= Routes.page_path(@conn, :index) %>" class="ml-4 text-2xl font-extrabold hover:text-blueGray-300">Jerry
      Situ</a>
    </div>
  </header>
  <%= @inner_content %>
</body>

</html>
