<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tag() %>
  <%= live_title_tag assigns[:page_title] || "Jerry Situ", suffix: "" %>
  <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css" )} />
  <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js" )}>
  </script>
</head>

<body class="flex flex-col h-full mx-auto overflow-y-scroll text-gray-700 space-y-28 max-w-7xl bg-slate-100" x-data="{ showBar: true }">
  <header class="fixed top-0 left-0 right-0 z-30 transition bg-white shadow"
    @scroll.window="showBar = (window.pageYOffset > 40) ? false : true" x-show="showBar"
    x-transition:enter="transition ease-out duration-300 transform" x-transition:enter-start="opacity-0 -translate-y-2"
    x-transition:enter-end="opacity-100 -translate-y-0" x-transition:leave="transition ease-out duration-300 transform"
    x-transition:leave-start="opacity-100 -translate-y-0" x-transition:leave-end="opacity-0 -translate-y-4">
    <nav class="mx-auto max-w-7xl lg:px-8" aria-label="Top">
      <div class="flex">
        <div class="flex space-x-3 lg:space-x-12">
          <%= link "Jerry Situ", to: Routes.page_path(@conn, :index), title: "Athlon Home Page", class: "py-5 text-md lg:text-3xl text-black no-underline font-semibold ml-4 lg:ml-0" %>
          <%= link "Home", to: Routes.page_path(@conn, :index), class: "py-6 text-xs lg:text-lg no-underline border-b-4  #{if Phoenix.Controller.current_path(@conn) == Routes.page_path(@conn, :index), do: "border-blue-500 text-gray-900 font-medium", else: "text-gray-500 border-white hover:text-blue-600"}" %>
          <%= link "Password Generator", to: Routes.password_generator_path(@conn, :index), class: "py-6 text-xs lg:text-lg no-underline border-b-4  #{if Phoenix.Controller.current_path(@conn) == Routes.password_generator_path(@conn, :index), do: "border-blue-500 text-gray-900 font-medium", else: "text-gray-500 border-white hover:text-blue-600"}" %>
        </div>
      </div>
    </nav>
  </header>
  <%= @inner_content %>
</body>

</html>
